
# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.*

# Module directory
.terraform/

# .tfvars files
*.tfvars


# End of https://www.gitignore.io/api/terraform
.ssh_key
.venv
bin/

# ansible
.vault-password.txt
.vault-password*.txt
tf/ansible/roles/usegalaxy_eu.htcondor/